<li>
	{{burger_name}} 
	
	{{#if devoured}}
		<button class="devour" data-id="{{id}}" data-newburger="{{devoured}}">
			Ugh, this food coma doe!!
		</button>
	{{/if}}

	<button class="delete-burger" data-id="{{this.id}}">Delete this burger</button>
</li>